{% extends "main/base.html" %} {% load crispy_forms_tags %} {% block main %}
<div
  class="max-w-md mx-auto bg-gray-900 border border-blue-400 text-blue-400 p-8 rounded-lg shadow-md"
>
  <h2 class="text-2xl font-bold mb-6 text-center">🔒 Cambiar Contraseña</h2>
  <form method="post">
    {% csrf_token %} {{ form|crispy }}
    <button
      type="submit"
      class="w-full bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg transition mt-4"
    >
      Actualizar Contraseña
    </button>
  </form>
</div>
{% endblock %}
