{% extends "main/base.html" %} {% block main %}
<div
  class="max-w-md mx-auto bg-gray-900 border border-green-400 text-green-400 p-8 rounded-lg shadow-md text-center"
>
  <h2 class="text-2xl font-bold mb-6">✅ Contraseña actualizada</h2>
  <p class="mb-4">Tu contraseña se cambió correctamente.</p>
  <a
    href="{% url 'main:index' %}"
    class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg transition"
  >
    Ir al inicio
  </a>
</div>
{% endblock %}
